roles/*
.vault*
hosts*
collections/*
env_*.sh
**/*.bak
**/*.swp
**/*.pyc
foreman.cache
foreman.facts
foreman.hostcollections
foreman.index
foreman.params
foreman.py
foreman.ini
dump.rdb
**/*-test.yml
fact_cache
